<h1>Contact list</h1>
<table>
  <tr>
    <td><%= @contact[0].first_name %></td>
    <td><%= @contact[0].last_name %></td>
    <td><%= @contact[0].email %></td>
    <td><%= @contact[0].phone_number %></td>
  </tr>
  <tr>
    <td><%= @contact[1].first_name %></td>
    <td><%= @contact[1].last_name %></td>
    <td><%= @contact[1].email %></td>
    <td><%= @contact[1].phone_number %></td>
  </tr>
  <tr>
    <td><%= @contact[2].first_name %></td>
    <td><%= @contact[2].last_name %></td>
    <td><%= @contact[2].email %></td>
    <td><%= @contact[2].phone_number %></td>
  </tr>
</table>