<% if current_user != nil %>

<h1>Contact list</h1>

<div><a href="/contacts/new">Add a new contact</a></div>
<div><a href="/contacts/all_johns">See all the Johns</a></div>


  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Contact Page</th>
    </tr>
    <tr>
      <% @contact.each do |contact| %>
        <% if current_user.id == contact.user_id %>
          <td><%= contact.first_name %></td>
          <td><%= contact.middle_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.email %></td>
          <% if contact.phone_number && contact.phone_number != "" %>
            <td><%= contact.add_japanese_prefix %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= link_to "See #{contact.first_name} #{contact.last_name}'s page", "/contacts/#{contact.id}" %></td>
        <% end %>
    </tr>
      <% end %>
  </table>
<% else %>
  <h1>Please sign up or sign in.</h1>
<% end %>
