<h1><%= @contact.full_name %>'s contact page</h1>

<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Last updated</th>
  </tr>
  <tr>
    <td><%= @contact.first_name %></td>
    <td><%= @contact.last_name %></td>
    <td><%= @contact.email %></td>
    <td><%= @contact.add_japanese_prefix %></td>
    <td><%= @contact.friendly_updated_at %></td>
  </tr>
</table>

<div><%= link_to "Edit this contact", "/contacts/#{@contact.id}/edit" %></div>
<div><%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %></div>
<div><%= link_to "Back to contact list", "/contacts" %></div>